/*!**/
/*    Created on : Nov 16, 2022*/
/*    Author     : Matt, Steven, Jawon*/

/*   to be updated after base functionality*/
/**!*/

@font-face {
    font-family: "Azoniz.otf";
    src: url(/www/font/Azonix.otf) format("truetype");
}

*{
    font-family: "Azonix", sans-serif;
    font-style: normal;
    font-weight: 200;
    text-decoration: none;
}

#btn-back-to-top {
    position: fixed;
    display: none;
}

.scrolled {
    backdrop-filter: blur(8px); /* Apply the backdrop blur effect */
    transition: backdrop-filter 0.3s ease-in-out;
}

.selected {
    transform: scale(1.2);
    z-index: 1;
    filter: brightness(50%);
}

#map {
    height: 100%;
}


